@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@500&display=swap');

body {
  font-family: Roboto;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #008CBA;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005F6B;
}


/* The alert container */
.alert-container {
  display: none;
  /* Hide the container by default */
  position: fixed;
  /* Fixed position to keep it in view */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  /* Make sure it is on top of other elements */
}

/* The alert box */
.alert {
  background-color: #f44336;
  /* Red background color */
  color: white;
  padding: 20px;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
  text-align: center;
}

/* The close button */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style the close button on hover */
.closebtn:hover {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1260px;
  /* height: max-content; */
}

.item {
  padding: 10px;
  background-color: #eee;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

#desc {
  font-size: 80%;
  font-family: tahoma;
  color: #222;
  width: 250px;
  float: left;
  position: absolute;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-header {
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.section-content {
  display: none;
  background-color: #ffebee;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 8px;
  /* margin-top: 10px; */
}

.section-content p {
  margin: 0;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border: 2px solid black;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  /* padding-top: 10px; */
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border: 2px solid black;
  border-radius: 4px;
}

@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Cool infinite background scrolling animation. * Twitter: @kootoopas */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
 @-webkit-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling-reverse {
	 100% {
		 background-position: 50px 50px;
	}
}
 @-webkit-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-moz-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @-o-keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}
 @keyframes bg-scrolling {
	 0% {
		 background-position: 50px 50px;
	}
}

/* Main styles */
 body {

    z-index: -10;
	 /* text-align: center; */
	/* img size is 50x50 */
	 background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
	 -webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	 -moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	 -o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	 animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	 -webkit-animation-timing-function: linear;
	 -moz-animation-timing-function: linear;
	 -o-animation-timing-function: linear;
	 animation-timing-function: linear;
}

 li{
  margin-bottom: 10px;
 }

#canvas-container {
  width: 800px;
  height: 600px;
}

#canvas {
  width: 100%;
  height: 100%;
}

/* simulator-related-css */

.simulator_window{
  display: flex;
  border: 10px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px auto;
}


/* simulator css */
#Control_pannel{
  align-items: left;
  padding: 0%;
}
.padde-content{
  margin: 10px;
}
.inline_div{
  display: inline;
}
.btn-secondary{
  display: block;
  margin: 20px auto;
}
.form-range{
  display: block;
  min-width: 200px;
  max-width: 1000px;
}
input[type=range]::-webkit-slider-thumb {
  background-color: #6C757D; 
}
input[type=range]::selection{
  background-color: #6C757D; 
}
label{
  display: inline;
}

.Result{
  border: 2px solid #000000;
  border-radius: 10px;
  color: black;
}
.Result .title{
  padding: 0px 5px;
  font-size: 1.5em;
  color: white;
  background-color: #6C757D;
  border-radius: 10px 10px 0px 0px;
}

